@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
   background: url(../img/fondo-admin.png) fixed;
   background-repeat: no-repeat;
}

.titulo {
    color: #000000;
    font-weight: bolder;
    background-color: white;
    padding: 15px;
    margin: auto;
    width: 60%;
    border: solid black 2px;
    text-align: center;
    
}